RACE name: {{ race?.name }} <br/>
RACE race_order: {{ race?.race_order }}<br/>
RACE race_type: {{ race?.race_type }}<br/>
RACE state: {{ race?.aasm_state }} <br/>
RACE scheduled_for: {{ race?.scheduled_for }} <br/>
RACE started_at: {{ race?.started_at }} <br/>
RACE finished_at: {{ race?.finished_at}} <br/>
RACE canceled_at : {{ race?.canceled_at }} <br/>
RACE ongoing for: {{ race?.ongoingFor }} <br/>
RACE final?: {{ race?.final }} <br/>
RACE individual recall?: {{ race?.individual_recall }} <br/>
