<h1>Create a competitor</h1>

<div class="col-12">
<section class="widget" widget>
  <header>
    <h6>Competitor</h6>
    <div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
      <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
  </header>
  <div class="widget-body">

    <form (ngSubmit)="createCompetitor(competitor)" #competitorForm="ngForm" class="form-horizontal" role="form">
          <fieldset>
            <legend><strong>Horizontal</strong> form</legend>
            <div class="form-group row">
              <label for="title" class="col-md-4  col-form-label text-md-right">Name</label>
              <div class="col-md-7 ">
                <input  type="text" 
                        id="name" 
                        class="form-control" 
                        placeholder="Name" 
                        required name="name"
                        #title='ngModel'
                        [(ngModel)]="competitor.name" 
                >
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <div class="row">
              <div class="offset-md-4 col-md-7 ">
                <button type="submit" 
                        class="btn btn-primary"
                        [disabled]="!competitorForm.form.valid || submitted">
                      Save</button>
              </div>
            </div>
          </div>


          
        </form>

	</div>
</section>
</div>