


<section class="widget" widget>
      <header>
        <h6>{{fleet?.group.name}}<span class="fw-semi-bold"></span></h6>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <h3>{{ fleet?.name }} <span class="fw-semi-bold">{{ fleet?.fleet_type }}</span></h3>
      	the race_competitors, the_metrics (parcours), the scoring
      </div>
  </section>

<div class="row">
  <div class="col-3" *ngFor="let race of fleet?.races">
    <section (click)="setRace(race.id)" class="widget bg-primary text-white">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-3">
            <span class="widget-icon">
              <i class="glyphicon glyphicon-globe"></i>
            </span>
          </div>
          <div class="col-9">
            <h6 class="no-margin">RACE</h6>
            <p class="h2 no-margin fw-normal">{{ race.name }}</p>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-6">
            <h6 class="no-margin"></h6>
            <p class="value5"></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<h3>{{ race?.name }} <span class="fw-semi-bold"></span></h3>
<div class="tabbable tabs-left mb-lg">
      <ul id="tabs2" class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#tab12" data-toggle="tab">Competitors</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab22" data-toggle="tab">Metrics</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab32"  data-toggle="tab">Penalties</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab32"  data-toggle="tab">Scoring</a></li>
      </ul>
      <div id="tabs2c" class="tab-content">
        <div class="tab-pane active" id="tab12">
    <p>
      <input *ngIf="config.filtering"
             [ngTableFiltering]="config.filtering"
             (tableChanged)="onChangeTable(config)"
             class="form-control input-no-border bg-gray-lighter"
             placeholder="Filter Table" type="text">
    </p>
    <ng-table [config]="config.sorting"
              (tableChanged)="onChangeTable(config)"
              [rows]="rows" [columns]="columns">
    </ng-table>
    <pagination *ngIf="config.paging"
                class="pagination-sm"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable(config, $event)"
                (numPages)="numPages = $event">
    </pagination>







        </div>
        <div class="tab-pane" id="tab22">
          <div class="col-3" *ngFor="let metric of race?.metrics">
            {{ metric.name }}
          </div>
        </div>
        <div class="tab-pane" id="tab32">
          <p> If you will think too much it will sink in the swamp of never implemented plans and
            ideas or will just go away or will be implemented by someone else.</p>
          <p><strong>5 months of doing everything to achieve nothing.</strong></p>
          <p>You'll automatically skip - because you know - it's just non-informative stub. But what if there some text like this one?</p>
        </div>
      </div>
    </div>